parameters:
	ignoreErrors:
		-
			message: '#^Cannot access an offset on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Hook/TceMainHook.php

		-
			message: '#^Cannot access offset ''SC_OPTIONS'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Hook/TceMainHook.php

		-
			message: '#^Cannot access offset ''processCmdmapClass'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Hook/TceMainHook.php

		-
			message: '#^Cannot access offset ''t3lib/class\.t3lib_tcemain\.php'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Hook/TceMainHook.php

		-
			message: '#^Cannot access offset ''Objects'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ext_localconf.php

		-
			message: '#^Cannot access offset ''SYS'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ext_localconf.php

		-
			message: '#^Cannot access offset ''TYPO3\\\\CMS\\\\Redirects\\\\Service\\\\RedirectCacheService'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ext_localconf.php

		-
			message: '#^Cannot access offset ''andersundsehr_redirects_tweak'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: ext_localconf.php

		-
			message: '#^Cannot access offset ''cacheConfigurations'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: ext_localconf.php

		-
			message: '#^Cannot access offset ''caching'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: ext_localconf.php

		-
			message: '#^Parameter \#2 \.\.\.\$arrays of function array_merge expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: ext_localconf.php
